.container {
    background-color: gainsboro;
    font-family: Arial, Helvetica, sans-serif;
    width: 35%;
    height: 50%;
    text-align: center;
    margin: auto;
    border-radius: 10px;
    position: relative;
    
}

.container h1 {
    padding-top: 30px;
}

button {
    border-radius: 5px;
    width: 72px;
    height: 48px;
}

.resetBtn {
    border-radius: 5px;
    background-color: firebrick;
    color: white;
    margin-bottom: 10px;
}


.button.disabled {
    opacity: 0.65; 
    cursor: not-allowed;
  }